
<div class="task-list">
  <div class="header">
    <h2>Task List</h2>
    <button class="filter-button" aria-label="Filter" (click)="toggleFilterOptions()">
      <i class="fas fa-filter"></i>
    </button>
    
  </div>

  <!-- Filter Options -->
  <div class="filter-options-container" *ngIf="isStatusFilterVisible || isPriorityFilterVisible">
    <div class="filter-category" *ngIf="isStatusFilterVisible">
      <h3>Status</h3>
      <button (click)="onFilterChange('All')" [class.active]="currentStatusFilter === 'All'" class="filter-option" aria-label="Show All Tasks">
        <i class="fas fa-list"></i>
      </button>
      <button (click)="onFilterChange('Completed')" [class.active]="currentStatusFilter === 'Completed'" class="filter-option" aria-label="Show Completed Tasks">
        <i class="fas fa-check-circle"></i>
      </button>
      <button (click)="onFilterChange('Pending')" [class.active]="currentStatusFilter === 'Pending'" class="filter-option" aria-label="Show Pending Tasks">
        <i class="fas fa-clock"></i>
      </button>
    </div>
    
    <div class="filter-category" *ngIf="isPriorityFilterVisible">
      <h3>Priority</h3>
      <button (click)="onPriorityFilterChange('All')" [class.active]="currentPriorityFilter === 'All'" class="filter-option" aria-label="Show All Priorities">
        <i class="fas fa-star"></i>
      </button>
      <button (click)="onPriorityFilterChange('High')" [class.active]="currentPriorityFilter === 'High'" class="filter-option" aria-label="Show High Priority Tasks">
        <i class="fas fa-exclamation-circle"></i>
      </button>
      <button (click)="onPriorityFilterChange('Medium')" [class.active]="currentPriorityFilter === 'Medium'" class="filter-option" aria-label="Show Medium Priority Tasks">
        <i class="fas fa-star-half-alt"></i>
      </button>
      <button (click)="onPriorityFilterChange('Low')" [class.active]="currentPriorityFilter === 'Low'" class="filter-option" aria-label="Show Low Priority Tasks">
        <i class="fas fa-star"></i>
      </button>
    </div>
  </div>

  <div class="task-container">
    <div *ngFor="let task of filteredTasks" class="task-box">
      <input type="checkbox" [checked]="task.status === 'Completed'" (change)="toggleStatus(task)">
      <span class="task-title" [ngClass]="{'completed': task.status === 'Completed'}">{{ task?.title }}</span>
      
      <div class="task-priority" [ngClass]="{
        'priority-high': task.priority === 'High',
        'priority-medium': task.priority === 'Medium',
        'priority-low': task.priority === 'Low'
      }"></div>
      
      <button (click)="deleteTask(task)" class="delete-button">X</button>
    </div>  
  </div>
</div>
