<div class="calendar">
    <!-- Navigation Arrows -->
    <div class="calendar-navigation">
        <select (change)="goToSelectedWeek($event)">
  <option *ngFor="let week of weekList" [value]="week">{{ week }}</option>
</select>

      <button (click)="previousWeek()">&lt;</button>
      <span>{{ currentWeekDates[0] | date: 'MMMM dd, yyyy' }} - {{ currentWeekDates[6] | date: 'MMMM dd, yyyy' }}</span>
      <button class="currentweek" (click)="goToCurrentWeek()">Current Week</button>
      <button (click)="nextWeek()">&gt;</button>
    </div>
  
    <div class="days">
      <div class="day" *ngFor="let day of weekDays; let i = index">
        <h3>{{ day }}</h3>
        <ul>
          <li *ngFor="let task of getTasksByDate(currentWeekDates[i])">
            {{ task.title }} (Due: {{ task.dueDate | date: 'shortDate' }})
          </li>
          <li *ngIf="getTasksByDate(currentWeekDates[i]).length === 0" class="empty">
            No tasks for this day
          </li>
        </ul>
      </div>
    </div>
  </div>
  